h1 {
    font-family: "Underdog", system-ui;
    font-weight: 500;
    font-style: normal;    
        font-size: 3rem;  
        text-align: center;
        color:
    /* I chose the Underdog font for my main heading because
    it has an abstract and creative appearance so I think using
    this font for my main heading will make it look very attractive
    and adds a sense of creativity and uniqueness to my webpage
    design. */    
}
h2 {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal; 
        font-size: 2rem;  
        text-align: center;
        color:    
}
h3 {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 550;
    font-style: italic;    
        font-size: 1.4rem;  
        text-align: center;
        color:   
}
    /* I chose the Fredoka and Atkinson Hyperlegible fonts 
    for my two subheadings because they have more formal 
    appearances so I think they can create a good contrast 
    with the abstract appearance of the Underdog font 
    for my main heading. */ 

    /* These 3 lines of text are my heading (first line) and
   subheadings (following two lines). So I chose some fonts that
   look bold and attractive for them and make their text size significantly
   larger so that they could stand out more compared to my
   body texts. In addition, I chose to use a different
   font for each of the three headings just to add a sense
   of playfulness to my webpage design and prevent the
   texts from looking repetitive and boring. */
h4 {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 1050;
    font-style: italic;
    text-align: center;
    font-size: 1.12rem
}

h5 {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 1050;
    font-style: italic;
    text-align: center;
    font-size: 1rem
}
/*  */

    img {
        display: block;
        margin: 30px auto;       
        width: 40%;                
        border-radius: 28px;
    }
 
p {
    text-align: center;
}    