h1 {
    font-family: "Underdog", system-ui;
    font-weight: 500;
    font-style: normal;    
        font-size: 3rem;  
        text-align: center;
        color:
    /* I chose the Underdog font for my main heading because
    it has an abstract and creative appearance so I think using
    this font for my main heading will make it look very attractive
    and adds a sense of creativity and uniqueness to my webpage
    design. */    
}
h2 {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal; 
        font-size: 2rem;  
        text-align: center;
        color:    
}
h3 {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 550;
    font-style: italic;    
        font-size: 1.4rem;  
        text-align: center;
        color:   
}
    /* I chose the Fredoka and Atkinson Hyperlegible fonts 
    for my two subheadings because they have more formal 
    appearances so I think they can create a good contrast 
    with the abstract appearance of the Underdog font 
    for my main heading. */ 

