* {
    color: hotpink;
}

h1 {
    color: limegreen;
}
li {
    color: purple;
}
/* h2 {
  color: red;
} */
h2,.green-color,
h3 {
    color: green;
}

.blue-color {
 color:blue;
}

.yellow-color {
    color: yellow;
}
#second-para {
    color: chocolate;
}
/*
h1 {
    color: blue;
}
h2 {
    color: yellow;
}
h3 {
    color: green;
}
p {
  color: brown; 
  front-weight: bold;
}
*/

/* 
/* curly braces { } */
/* square brackets []  #/
/* parenthese <> */
/* round brackets () #/
 /* colon :  */
 /* semicolon ;  */
 /* syntax - rules of writing */
