* {
    color: hotpink;
}

body {
    background-color: beige;
    color: gray;
    font-size: 1.2rem;
}

section {
  text-align: center;
  border: 1px solid black;
}

.green-border {
    /* border: 3px dashed green; */
}

h1 {
    color: limegreen;
    font-size: 3rem;
    text-transform: uppercase;
}


li {
    color: purple;
}
/* h2 {
  color: red;
} */
h2,
h3 {
    color: green;
    font-size: 1.4rem;
}

h1 {
 color:red;
}

.yellow-color {
    color: yellow;
}
#second-para {
    color: chocolate;
}
/*
h1 {
    color: blue;
}
h2 {
    color: yellow;
}
h3 {
    color: green;
}
p {
  color: brown; 
  front-weight: bold;
}
*/

/* 
/* curly braces { } */
/* square brackets []  #/
/* parenthese <> */
/* round brackets () #/
 /* colon :  */
 /* semicolon ;  */
 /* syntax - rules of writing */
