/* ===============
My design rationale for the typography and the color pallette

1. I choose you use big shoulder stencil font because it has nice modern
geometric look which is fitting with the theme of my design




==================== */


* {
    color: hotpink;
}
.blue-color {
    color: blue;
}

body {
    background-color: beige;
    color: gray;
    font-size: 1.1rem;
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

section {
  text-align: center;
  border: 1px solid black;
}

.green-border {
    /* border: 3px dashed green; */
}

h1 {
    color: rgb(3, 5, 43) 
    font-size: 3rem;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

li {
    color: purple;
}
/* h2 {
  color: red;
} */
h2,
h3 {
    color: green;
    font-size: 1.4rem;
}

h1 {
 color:red;
}

.yellow-color {
    color: yellow;
}
#second-para {
    color: chocolate;
}
/*
h1 {
    color: blue;
}
h2 {
    color: yellow;
}
h3 {
    color: green;
}
p {
  color: brown; 
  front-weight: bold;
}
*/

/* 
/* curly braces { } */
/* square brackets []  #/
/* parenthese <> */
/* round brackets () #/
 /* colon :  */
 /* semicolon ;  */
 /* syntax - rules of writing */
